
.cart{
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: rgb(76, 25, 1);
    border-radius: 30px;
    color:white;
}

.count{
    height: 30px;
    width: 40px;
    border-radius: 30px;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
